footer{
    background-color: rgb(96, 47, 12);
    color: $second-color;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .footer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        margin-top: 10px;
        p{
            font-size: 16px;
            margin-bottom: 10px;
            text-align: start;
        }
        nav{
            a{
                color: $second-color;
                text-decoration: none;

            i{
                gap: 20px;
                font-size: larger;
                margin-bottom: 10px;
                }
                &:hover{
                    background-color: rgb(230, 156, 104);
                    }
                }
            }
        }
}


