main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        .informacion {
            background: url(../img/matef.jpg);
            background-size: cover;
            height: 100vh;
            color: blanchedalmond;
            h2 {
                font-size: 70px;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
                margin: 35px 0;
                text-align: center
            }
            p{ 
                font-size: 35px;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 300;
                text-align: center;
                padding: 10px;
                    a{
                        color: black;
                    }
            }
        }
        .promociones{
                    text-align: center;
                .carousel-inner{
                    height: 100vh;
                    border: 10px solid blanchedalmond;
                    img {
                        max-height: 100vh;
                        object-fit:contain;
                    }
                   }
                   
            }
    }
