
/* Desktop */

@media (max-width: 1024px) {
    .header{
        height: fit-content;
    }
    .cuerpo{
        .informacion{
            height: fit-content;
        }
        .promociones{
            .carousel{
                    width: 100%;
                    height: 95%;
                }
            }
        }
    }


/* Tablet */

@media (max-width: 768px) {
    .header{
        img{
            height: 60px;
            object-fit: contain;
        }
    }
    .cuerpo{
        .informacion{
            background: url(../img/matef.jpg);
            height: fit-content;
            font-size: medium;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .promociones{
            height: max-content;
            .carousel{
                align-items: center;
                height: fit-content;
            }
        }
    }
   
    .footer{
        margin: 0 auto;
        .horario{
            display: none;
        }
    }
}

/* Mobile */

@media (max-width: 576px){
    .header{
        height: fit-content;
        img{
            margin-top: 0;
        }
    }

    .cuerpo{
        height: fit-content;
        .informacion{
            background: url(../img/fondo.jpg);
            height: fit-content;
            color: rgb(80, 7, 7);
            font-weight: 400;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .promociones {
            height: fit-content(350px);
            .carousel{
                justify-content: center;
                align-self: center;
            }
        }
    }

    .footer{
        height: 70%;
        .horario{
            display: none
        }
        nav ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
            }
        }
    }