
/*---------- Yerbas Mates / Infusiones / Accesorios ----------*/

.promociones{
    background-color: moccasin;
        h2{
            font-family:'Montserrat', sans-serif;
            font-size: x-large;
            margin: 40px auto;
            text-align: center;
        }
        .productos{
            .card{
                width: 100%;
                img{
                    margin-top: 10px;
                        &:hover{
                            transform: scale(1.3);
                            transition: 300ms;
                        }
                }
                p{
                    font-size: medium;
                    margin-bottom: 10px;
                    text-align: center;
                    font-weight:bold ;
                }
                &:hover{
                    background-color: rgb(218, 214, 214);
                }
              }
            }
        }


